/* app css stylesheet */

body {
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
	font-size: 14px;
	line-height: 1.428571429;
	color: #333333;
	background-color: white;
}

button {
	line-height: inherit;
	font-family: inherit;
	font-size: 100%;
	margin: 0;	
}

.selected {
	color: #ccc;
}

.pointer {
	cursor: pointer;
}

.graph {
	float: left;
	width: 1000;
}

.graph-canvas {
	width: 100%;
	height: 1000;
}

#graph-canvas-container {
	border: 1px solid #e5e5e5;
}

.table-header {
	font-weight: bold;
}

.table {
	float: right;
	width: 30%;
}

#optionlist,
#optionlist li {
	-webkit-touch-callout: none;
	-webkit-user-select: none; /* Webkit */
	-moz-user-select: none;    /* Firefox */
	-ms-user-select: none;     /* IE 10  */

	/* Currently not supported in Opera but will be soon */
	-o-user-select: none;
	user-select: none;  
}
/*
#optionlist {
	background: yellow;
}
*/
.checked {
	font-weight: bold;
}